.form input{
    padding: 12px;
    width: 348px;
    border: none;
    border-bottom: 1px solid blue;
    background-color: #ddd;
    border-radius: 5px;
}
.form span {
    color: red;
}
input.submit {
    background-color: green;
    color: white;
    font-size: 20px;
}